<button class="btn" routerLink="">Go Back</button>
<table>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Fuel Type</th>
        <th>Model</th>
        <th>Color</th>
    </tr>
    <tbody>
        <tr>
            <td>{{showDetails.vehicle[id-1].name}}</td>
            <td>{{showDetails.vehicle[id-1].category}}</td>
            <td>{{showDetails.vehicle[id-1].fuelType}}</td>
            <td>{{showDetails.vehicle[id-1].model}}</td>
            <td>{{showDetails.vehicle[id-1].color}}</td>
        </tr>
    </tbody>
</table>
    
    
   


